<div class="jumbotron text-center p-5 bg-danger text-white">
    <h1 class="display-5 pb-4">Jumbotron Example</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Suscipit nulla consectetur nemo excepturi eligendi atque, id accusamus rerum. 
      Quo pariatur magnam possimus exercitationem aliquid officiis quibusdam debitis similique 
      aperiam voluptatem culpa, quae sed, quod sint iste officia dolores atque. 
      Inventore officiis odit dolores illum blanditiis labore illo distinctio non delectus?</p>
  </div>
